[Unit]
Description=Software speech output for Speakup
Documentation=man:espeakup(8)
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service sound.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/espeakup
PIDFile=/run/espeakup.pid
ExecStart=/usr/bin/espeakup --default-voice=${default_voice}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=sound.target
